In [1]:
import numpy as np
import pandas as pd
import polars as pl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
# ==*Assign temporary sys path*==
import os
import sys
sys.path.append('../src')
# ===============================

import utils.utils as utils

In [3]:
data = pl.read_csv(source='../data/backup/accepted_2007_to_2018Q4.csv',
                   has_header=True,
                   )
# data.drop('member_id')

In [13]:
# Log colnames
with open('../log/colnames.txt', 'w') as f:
    for col in data.columns:
        f.write(str(col)+'\n')

# Log description
with open('../log/description.txt', 'w') as f:
    f.write(data.describe().to_string() + '\n')

AttributeError: 'DataFrame' object has no attribute 'to_string'

In [75]:
data["member_id"].unique()

shape: (1,)
Series: 'member_id' [str]
[
	null
]

shape: (2_260_701,)
Series: 'loan_amnt' [str]
[
	"3600.0"
	"24700.0"
	"20000.0"
	"35000.0"
	"10400.0"
	â€¦
	"40000.0"
	"24000.0"
	"14000.0"
	null
	null
]